html{
    scroll-behavior: smooth;/*cuộn*/
    font-family: Arial, Helvetica, sans-serif;/* kế thừa font chữ */
}
.navbar{
    background-color: white;
}
.nav-list{
    display: flex;
    justify-content: space-between;
}
.contact{
    color: #ffffff;
    background-color: rgb(102, 212, 150);
}
.contact:hover{
    color: rgb(102, 212, 150);
    background-color: #ffffff;
    border: 1px solid rgb(102, 212, 150);
}
.hero-btn{
    color: rgb(102, 212, 150);
    background-color: #ffffff;
    border: 1px solid rgb(102, 212, 150);
}
.hero-btn:hover{
    color: #ffffff;
    background-color: rgb(102, 212, 150);
}
.nav-link{
    color: rgb(136, 136, 136);
    font-weight: 600;
}
.nav-link:hover{
    color: rgb(102, 212, 150);
}
.contact{
    font-weight: 600;
}

#head{
    margin-top: 60px;
    background: #f4f4f4;
    overflow: hidden;
    position: relative;
    background-size: cover;
}
.hero-3-bg{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text h1{
    font-size: 56px;
}
.hero-text h6{
    color: #b4b4b4;
}
.hero-icon{
    border: 1px solid #d8d8d8;
    padding: 8px 13px;
    margin-right: 10px;
    border-radius: 10px;
}
.mx-15{
    margin: 30px 0 30px 0;
}
.hero-icon i{
    font-size: 19px;
    font-weight: 900;
}






#solution{
    margin-bottom: 80px;

}
.solution-content{
    text-align: center;
}
.solution-content h5, .feature-text h5{
    font-weight: 400;
    color: #b4b4b4;
}
.slider-content{
    display: flex;
    justify-content: space-between;
}
.card-content{
    width: 240px;
    height: 195px;
    text-align: center;
}
.card-item{
    display: flex;
    justify-content: center;
    text-align: center;
}
.card-item i{ 
    color: #b4b4b4;
}
.card-item:hover i{ 
    color:  rgb(102, 212, 150);
}
.card-item:hover{ 
    box-shadow: 0px 0px 5px 7px #b9b9b9;
}
.card-content i{
    font-size: 70px;
}   
.card-content a{
    color:  #b4b4b4;
}   
.card-content span{
    color:  #000000;
}   
.slider-container .slider-content{
    display: flex;
    justify-content: space-between;
}

#feature, #pricing{
    overflow: hidden;
    background-color: #f9f9fd;
}   

.feature-img .img-container{
    width: 100%;

}
.feature-content, #service{
    padding: 80px 0 80px 0;
}





#service{
    border-bottom: 1px solid rgb(189, 189, 189);
}

.servicecontent{
    box-sizing: border-box;
    box-shadow: 20px;
    box-shadow: rgba(185, 185, 185, 0.752);

}
.service-icon{
    padding: 10px;
    border-radius: 50px;
}
.icon-user{
    background-color: #6164a6;
}
.icon-cast{
    background-color: #eab944;
}
.icon-inbox{
    background-color: #c25951;
}
.icon-file{
    background-color: #67b99f;
}
.icon-drop{
    background-color: #6f757c;
}
.icon-gear{
    background-color: #2e3b5b;
}
.service-item p, .feature-text h6{
    color:  #b4b4b4;
}
.service-item{
    width: 95%;
    height: 100%;
    border: 1px solid #fff;
    padding: 20px;
    margin-top: 10px;
    transition: all .3s ease-in;
}
.ser-link {
    opacity: 0;
    transition: all .3s ease-in;
}
.service-item:hover{
    /* border: 1px solid #808080;
    box-shadow: 5px #808080; */
    box-shadow: 0px 0px 5px 7px #b9b9b9;
}
.service-item:hover .ser-link{
    opacity: 1;
}

.accordion {
    max-width: 600px;
}
  
.accordion-item {
    margin-bottom: 8px;
}  
.accordion-header {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
.accordion-content {
    display: none;
    padding:10px 30px;
    color: #b4b4b4;
}  
.toggle-icon {
    font-size: 24px;
    font-weight: bold;
    color:rgb(102, 212, 150);
}
.feature-text h2{
    margin: 40px 0px;
}
